layout: index
description: 大脑里关于计算机的所有记忆
subtitle: 大脑里关于计算机的所有记忆
comments: false
---
ul#intro-feature-list
  li.intro-feature-wrap
    .intro-feature
      .intro-feature-icon
        i.fa.fa-bolt
      h3.intro-feature-title 大数据
      p.intro-feature-desc 记录Hadoop、Spark生态圈常用组件的知识，以及数据仓库理论。
  li.intro-feature-wrap
    .intro-feature
      .intro-feature-icon
        i.fa.fa-pencil
      h3.intro-feature-title 编程语言
      p.intro-feature-desc 记录Java、Scala、Python、Shell等编程语言的使用心得。
  li.intro-feature-wrap
    .intro-feature
      .intro-feature-icon
        i.fa.fa-cloud-upload
      h3.intro-feature-title 心路历程
      p.intro-feature-desc 记录职场以及生活的所有记忆。
  li.intro-feature-wrap
    .intro-feature
      .intro-feature-icon
        i.fa.fa-cog
      h3.intro-feature-title 未知
      p.intro-feature-desc 待续。